<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Bullets-z2</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/specification.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/bullets-z2.png' %}" alt="Buds-Pro2">
      </div>
      <div class="product-details">
        <h1>OnePlus Bullets Wireless Z2</h1>
        <br>
        <p>45dB Hybrid Noise Cancellation</p>
        <p></p>
        <p>BassWaveTM Bass Enhancement Algorithm</p>
        <p>Long 28-Hour Battery Life</p>
        <p>Fast Charge(upto 35 watts)</p>
        <br>
        <div class="product-price">Price:₹1,999</div>
        <div class="specifications">
          <h2>Specifications</h2>
          <table>
            <tr>
              <th>3-mic AI Call Noise Cancellation</th>
            </tr>
            <tr>
                <th>12.4mm Dynamic Drivers</th>
            </tr>

            <tr>
                <th>Fast Charging - 10Mins for 20 Hours</th>
            </tr>

            <tr>
                <th>94ms Low Latency</th>
            </tr>
            <!-- Add more specifications as needed -->
          </table>
        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
 
<!--Footer-->
{%include 'core/footer.html'%}
</body>
</html>