<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Charging-Bundle</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bundle.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/Charging_bundle.png' %}" alt="Charging-Bundle">
      </div>
      <div class="product-details">
        <h1>OnePlus Easy Charging Bundle</h1>
        <br>
        <div class="specifications">
          <h2>Includes</h2>
          <table>
            <tr>
              <th><li>OnePlus Warp Charge 65 Power Adapter</li></th>
            </tr>
            <tr>
                <th><li>SUPERVOOC Type-C to Type-C Cable</li></th>
            </tr>
          </table>
        <br>
        <h2>Faster, cooler, safer</h2>
        <br>
        <p>The OnePlus Warp Charge 65 Power Adapter is our fastest ever charging solution.
           Its smart too. Built-in, dedicated charging circuitry ensures efficient
            heat management and dissipation to keep your phone cool while charging.
             Reliable and always fast, charging is safer too thanks to automatic 
             hardware safeguards and software optimizations. The end result? All 
             the benefits of fast charging without downsides (overheating).
        </p>

        <br>
        <div class="product-price">Price:₹2,502</div>

        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
 
<!--Footer-->
{%include 'core/footer.html'%}
</body>