<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Folio Case</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/specification.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/padacc.png' %}" alt="Folio Case">
      </div>
      <div class="product-details">
        <h1>OnePlus Folio Case</h1>
        <br>
        <p>
            Designed for a strong magnetic connection,
            the Folio Case won't let go until you want it to.
            Work and play with total peace of mind.
        </p>
        <br>
        <div class="product-price">Price:₹1499</div>
        <div class="specifications">
          <h2>Strong Attraction</h2>
          <table>
            <tr>
              <th>120° and 130° dual-angle support ensures the most comfortable all-day viewing experience.</th>
            </tr>

          </table>
        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
<br><br><br><br>
<!--Footer-->
{%include 'core/footer.html'%}
</body>