<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Music-Bundle</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bundle.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/Music_bundle.png' %}" alt="Music-Bundle">
      </div>
      <div class="product-details">
        <h1>
          OnePlus Connect to Music Bundle
        </h1>
        <br>
        <div class="specifications">
          <h2>Includes</h2>
          <table>
            <tr>
              <th><li>OnePlus Type-C to 3.5mm Adapter</li></th>
            </tr>
            <tr>
                <th><li>OnePlus Nord Wired Earphones</li></th>
            </tr>
          </table>
        <br>
        <h2>Just Plug and Play</h2>
        <br>
        <p>
          This simple adapter allows you to connect wired earphones
           or headphones with a 3.5mm jack to your OnePlus device*. 
           The inside of each port is decked in a classic shade of OnePlus Red.
        </p>


        <br>
        <div class="product-price">Price:₹949</div>

        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
 
<!--Footer-->
{%include 'core/footer.html'%}
</body>
</html>