<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | 11R</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/specification.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/11r.png' %}" alt="11r">
      </div>
      <div class="product-details">
        <h1>OnePlus 11R 5G</h1>
        <br>
        <p>HyperTouch Engine</p>
        <p>Our biggest battery ever</p>
        <p>100W SUPERVOOC Fast Charging</p>
        <p>Snapdragon® 8+ Gen1</p>
        <p>Upto 18Gb Ram</p>
        <br>
        <div class="product-price">Price:₹39,999</div>
        <div class="specifications">
          <h2>The shape of power</h2>
          <table>
            <tr>
              <th>120Hz Super Fluid Display</th>
            </tr>
            <tr>
                <th>100W SuperVooc Endurance Edition</th>
            </tr>

            <tr>
                <th>Qualcomm Snapdragon® 8+Gen1</th>
            </tr>

            <tr>
                <th>50MP IMX890 Tripal Camera Setup</th>
            </tr>
            <!-- Add more specifications as needed -->
          </table>
        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
 
<!--Footer-->
{%include 'core/footer.html'%}
</body>