<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Sign-up</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<h1>this is signup page</h1>
<h1>Sign Up Form</h1>

<form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for f in mf %}
        {{f.label_tag}} {{f}} {{f.errors|striptags}} <br><br> 
    {% endfor %}
    
    <input type="submit" value="sign up">
</form>
<br>
<br>
<a href="/login/"><input type="button" value="Sign In"></a>
</body>
</html>
