<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Cart</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<h1>Shopping Cart</h1>
{% block content %}
  <div class="row">
    {% for product in products %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">${{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.id }}">
              <a href="{% url 'addtocart' product.id %}" class="btn btn-info my-2 mr-2">Add to cart</a> 
              
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

<!--Footer-->
{%include 'core/footer.html'%}
</body>
</html>