<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Pad-Go</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/specification.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
        </style>

</head>
<body>
<!--Navbar-->
{%include 'core/navbar.html'%}
<!--Product specifications-->
<div class="container">
    <div class="product">
      <div class="product-image">
        <img src="{% static 'core/images/pad_go.png' %}" alt="Pad-Go">
      </div>
      <div class="product-details">
        <h1>OnePlus Pad Go</h1>
        <br>
        <p>
            Experience Fast and Smooth entertainment without end. 
            The OnePlus Pad Go delivers ultraportable, supersized multimedia fun.
            With its go anywhere, do anything attitude, relax with a digital life thats 
            All Play, All Day.
        </p>
        <br>
        <div class="product-price">Price:₹19,999</div>
        <div class="specifications">
          <h2>All Play,All Day</h2>
          <table>
            <tr>
              <th>8,000mAh Long-lasting Battery </th>
            </tr>
            <tr>
                <th>Dolby Atmos Quad Speakers</th>
            </tr>

            <tr>
                <th>Cross Screen Connection</th>
            </tr>

          </table>
        </div>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  </div>
 
<!--Footer-->
{%include 'core/footer.html'%}
</body>