{%include 'core/navbar.html'%}
<!DOCTYPE html>
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus | Products</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <!--<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/products.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        body {
            font-family: 'Lato';
            font-size: 22px;
        }
        </style>

</head>
<body>
<!--Marquee scroling text-->
<div class="scrolling-text">
    <p class="scrolling-text">
    Relentless innovation defines who we are.
    Unlock exclusive benefits, early access to products, and unique experiences.
    </p>
</div>
<div>
    <h1 class="headings">
        Never settle for anything less.
    </h1>
</div>
<br>
<!--Cards and content-->
{% comment %} <div><h2 class="headings">Our execlusive bundles.</h2></div>
<div class="card-container">
    <div class="card">
        <!-- Card content goes here -->
        <a href="/gaming_bundle"><img src="{% static 'core/images/Gaming_bundle.png' %}" alt="OnePlus|Gaming-Bundle"></a>
        <h2>OnePlus Cool Gaming Bundle</h2>
    </div>

    <div class="card">
        <!-- Card content goes here -->
        <a href="/charging_bundle"><img src="{% static 'core/images/Charging_bundle.png' %}" alt="OnePlus|Charging-Bundle"></a>
        <h2>OnePlus Easy Charging Bundle</h2>
    </div>

    <div class="card">
        <!-- Card content goes here -->
        <a href="/music_bundle"><img src="{% static 'core/images/Music_bundle.png' %}" alt="OnePlus|Music-Bundle"></a>
        <h2>OnePlus Connect to Music Bundle</h2>
    </div>
</div>

<!--Cards and content set2-->
<div class="d2">
<br><br>
<div><h1 class="heading2">Our Flagships</h1></div>
<div class="card-container ">
    <div class="card2">
        <!-- Card content goes here -->
        <a href="/op_12r"><img src="{% static 'core/images/12r.png' %}" alt="OnePlus|12r-5g"></a>
        <h2>OnePlus 12R</h2>
    </div>

    <div class="card2">
        <!-- Card content goes here -->
        <a href="/op_11r"><img src="{% static 'core/images/11r.png' %}" alt="OnePlus|11r-5g"></a>
        <h2>OnePlus 11R 5G</h2>
    </div>

    <div class="card2">
        <!-- Card content goes here -->
        <a href="/op_11_5g"><img src="{% static 'core/images/OnePlus11_5g.png' %}" alt="OnePlus|11-5g"></a>
        <h2>OnePlus 11 5G</h2>
    </div>
</div>
</div> {% endcomment %}

<!--Cards and content set3-->
{% comment %} <br>
<div><h1 class="headings">Tablets</h1></div>
<div class="card-container">
    <div class="card">
        <!-- Card content goes here -->
        <a href="/op_pad"><img src="{% static 'core/images/pad-nav.png' %}" alt="OnePlus|Pad"></a>
        <h2>OnePlus Pad</h2>
    </div>

    <div class="card">
        <!-- Card content goes here -->
        <a href="/pad_go"><img src="{% static 'core/images/pad_go.png' %}" alt="OnePlus|Pad Go"></a>
        <h2>OnePlus Pad Go</h2>
    </div>

    <div class="card">
        <!-- Card content goes here -->
        <a href="/folio_case"><img src="{% static 'core/images/padacc.png' %}" alt="OnePlus|Pad Folio"></a>
        <h2>OnePlus Go Folio Case</h2>
    </div>
</div> {% endcomment %}
<!--Dynamic-->
<!--Cards with images -->
{% comment %} <div class="card-container">
    {% for p in products %} 
    <div class="card col-sm-4" >
        <!-- Card content goes here -->
        <img src="{{wh.brand_image.url}}"alt="Series 7">
        <h2>{{p.name}}</h2>
        <h1>rs.{{wh.selling_price}} only/-</h1>
    </div>
    {% endfor %} 
</div>
{%include 'core/footer.html'%} {% endcomment %}


<div class="card_container " style="margin-top: 50px;">                         <!-- we have created new container class-->
    <div class="row">                           <!-- we have created row class-->
        {% for p in product %}
        <div class="col-sm-4 ">      
            <div class="card bed_categories_card bed_card" style="width: 22rem; height:30rem">
                <a href="{% url "watchdetails" p.id %}"><img class="card-img-top " src="{{p.brand_image.url}}" alt="Card image cap"></a>
                <div class="card-body">
                  <h2 class="card-title">{{p.name}}</h2>
                  <h2 class="card-title">{{p.selling_price}} rs</h2>
                   <div class="text-center">
                        <h5 class="font-weight-bold text-dark "><i class="fa-solid fa-indian-rupee-sign"></i> <small class="fw-light rupee"> {{p.selling_price}}</small> <small class="text-danger">(% off)</small></h5> 
                        
                    </div>
                </div>
            </div>
          </a>
        </div>       
        {% endfor %}
    </div>
  </div>

{% endblock content%}
</body>
</html>
