{% include 'core/navbar.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

<!-- ......new..code......... -->
<div class="full-page-container">
    <img class="background-image" src="{% static 'core/images/poc_op.webp' %}" alt="Background Image">
    <h1 align="center">Innovation becomes relentless when shared.</h1>
    <h2 align="center">OnePlus has a NEVER SETTLE story with you...</h2>
    <h3 align="center">Relentless innovation defines who we are</h3>
    <p align="center">The signature OxygenOS experience has evolved</p>
    <p align="center"> Driven by the next-generation Trinity Engine</p>
    <p align="center">innovative features and refreshed design elements</p>
    <p align="center">discover the pinnacle of fast and smooth.</p>
    <br><br>
    
  </div>
</div>



</body>
</html>