<!DOCTYPE html>
<html lang="en">
{%load static%}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnePlus</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/oneplus_favi.ico' %}">
    <link rel="stylesheet" href="{% static 'core/css/clientlib.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HW9RGK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


    <style>
        body {
            font-family: 'Lato';font-size: 22px;
        }
    </style>
</head>
<body>
<!--Navbar content on left side-->
<nav>
<div class="nav-left">
    <a class="a1" href="{% url "home" %}">Home</a>
    <a class="a1" href="{% url "products" %}">Products</a>
    {% comment %} <a class="a1" href="{% url "contact" %}">contact</a> {% endcomment %}
</div>
<!--Navbar content on right side-->
<div class="nav-right">
    
    <a class="a1"href="{% url "viewcart" %}">Cart</a>
    <a class="a1" href="{% url "about_us" %}">About</a>
    <a class="a1" href="{% url "logout" %}">LogOut</a>
</div>

</nav>
</body>
</html>