.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-image {
    flex: 1 1 300px;
    margin-right: 20px;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    flex: 1 1 600px;
    font-size: medium;
  }
  .product-details h1 {
    font-size: 50px;
    margin-top: 0;
  }
  .product-details p {
    font-size: 20px;
    line-height: 1.5;
  }
  .product-price {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  .specifications {
    margin-top: 20px;
  }
  .specifications table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .specifications th, .specifications td {
    padding: 5px;
    text-align: left;
    font-size: 20px;
    
  }

  .add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .add-to-cart-button:hover {
    background-color: red ;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }


